html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.Home{
    background: linear-gradient(45deg, #a88beb , #f8ceec);
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Home h1{
    margin: 0px;
}

.start-btn {
    background-color: #a88beb;
    color: white;
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.App{
    background: linear-gradient(45deg, #a88beb , #f8ceec);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-area{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-area {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px
}

.top-area h1 {
    text-align: center;
}

.form-wall {
    margin: 0 0 20px 0;
}

.wall-title {
    margin: 0px;
}

.form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0 0 0;
}

.form-row div {
    width: 45%;
}

.form-row input {
    background-color: rgb(243, 243, 243);
    height: 30px;
    width: 100%;
    border: 0px;
    border-radius: 5px;
}

span {
    color: rgb(255, 57, 57);
    font-size: 12px
}

.calculate-btn, .return-btn {
    background-color: #a88beb;
    color: white;
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.calculate-btn:hover {
    opacity: 0.8;
}

.results-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results-area h2 {
    margin: 0 0 2px 0;
    text-align: center
}

.results-area p {
    margin: 0px 0 30px 0
}

@media (max-width: 500px){
    .calculator-area{
        width: 80%;
    }
}